@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.temp {
  z-index: -1;
  position: absolute; }

body::-webkit-scrollbar {
  width: .2em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8); }

body::-webkit-scrollbar-thumb {
  background-color: #fdbb04;
  outline: 10px solid #fdbb04;
  border-radius: 15%; }

html {
  padding: 0;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 70%; } }
  @media screen and (max-width: 62.5em) {
    html {
      font-size: 65%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 62%; } }
  @media screen and (max-width: 39.5em) {
    html {
      font-size: 57%; } }
  @media screen and (max-width: 31.25em) {
    html {
      font-size: 55%; } }

::selection {
  background-color: #fdbb04;
  color: #fbfbfb; }

a,
a::after,
a::before {
  color: #fdbb04;
  text-decoration: none; }

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.DISABLE {
  display: none; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 2rem !important; }
  @media screen and (max-width: 62.5em) {
    .u-margin-top-medium {
      margin-top: 1.5rem !important; } }

.u-margin-top-big {
  margin-top: 5rem !important; }
  @media screen and (max-width: 62.5em) {
    .u-margin-top-big {
      margin-top: 4rem !important; } }
  @media screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 2rem; } }

.u-margin-top-huge {
  margin-top: 9rem !important; }

.btn-primary, .btn-primary:link, .btn-primary:visited {
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-family: "Noto Sans JP";
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(250, 221, 92, 0.4), #fdbb04);
  transition: all .2s; }
  @media screen and (max-width: 56.25em) {
    .btn-primary, .btn-primary:link, .btn-primary:visited {
      padding: .7rem 1rem;
      font-size: 1rem; } }

.btn-primary::after {
  content: "";
  width: 40%;
  position: absolute;
  top: 3rem;
  left: 30%;
  box-shadow: 0rem 1rem 2.5rem 2rem rgba(250, 221, 92, 0.4);
  transition: all 0.2s; }
  @media screen and (max-width: 56.25em) {
    .btn-primary::after {
      box-shadow: 0rem 1rem 1.5rem 1rem rgba(250, 221, 92, 0.4); } }

.btn-primary:active {
  transform: translateY(0.7rem); }
  .btn-primary:active::after {
    box-shadow: 0rem 0.5rem 1.5rem 1.2rem rgba(250, 221, 92, 0.4); }

.btn-secondary--light, .btn-secondary--light:link, .btn-secondary--light:visited {
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem 1.3rem;
  color: #2f68ec;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.1rem 0.12rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }

.btn-secondary--light:active {
  color: #000;
  transform: translateY(0.1rem);
  box-shadow: 0rem 0rem rgba(0, 0, 0, 0.5); }

.heading-primary--dark {
  font-size: 4.5rem;
  font-family: "Alegreya"; }
  @media screen and (max-width: 56.25em) {
    .heading-primary--dark {
      font-size: 3rem; } }

.heading-primary--light {
  font-size: 4.5rem;
  font-family: "Alegreya";
  color: #fdbb04; }
  @media screen and (max-width: 56.25em) {
    .heading-primary--light {
      font-size: 3.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-family: "Noto Sans JP";
  font-weight: 500; }
  .heading-secondary--dark {
    color: #fdbb04; }
  @media screen and (max-width: 39.5em) {
    .heading-secondary {
      font-size: 3rem; } }

.header {
  position: fixed;
  z-index: 1000; }

.nav {
  padding: 0 3rem 0 3rem;
  display: flex;
  width: 99vw;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb; }
  @media screen and (max-width: 39.5em) {
    .nav {
      flex-direction: column;
      justify-content: center;
      height: 11vh; } }
  .nav_items {
    display: flex;
    justify-content: center;
    gap: 3rem; }
    @media screen and (max-width: 39.5em) {
      .nav_items {
        gap: 1.5rem;
        align-items: center; } }
    @media screen and (max-width: 31.25em) {
      .nav_items {
        gap: 0.8rem; } }
  .nav_brand-name {
    margin-left: 4rem;
    font-family: "Montez";
    font-size: 3.5rem;
    font-weight: 700; }
    @media screen and (max-width: 56.25em) {
      .nav_brand-name {
        margin-top: 1rem; } }
    @media screen and (max-width: 39.5em) {
      .nav_brand-name {
        margin: 0;
        margin-top: 0.3rem; } }
    @media screen and (max-width: 56.25em) {
      .nav_brand-name-title {
        display: none; } }
    @media screen and (max-width: 39.5em) {
      .nav_brand-name-title {
        display: inline; } }
  .nav_link {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: "Noto Sans JP";
    font-weight: 700;
    text-decoration: none;
    color: #fdbb04; }

.section_home {
  padding: 7rem; }
  @media screen and (max-width: 56.25em) {
    .section_home {
      padding: 3rem; } }

.home {
  padding: 2rem 3rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 39.5em) {
    .home {
      flex-direction: column; } }
  .home_text {
    font-size: 1.7rem;
    font-family: "Noto Sans JP"; }
    @media screen and (max-width: 56.25em) {
      .home_text {
        font-size: 1.3rem; } }
  @media screen and (max-width: 56.25em) {
    .home_svg {
      margin-top: 5rem; } }
  @media screen and (max-width: 62.5em) {
    .home_svg--1 {
      height: 40rem;
      width: 40rem; } }
  @media screen and (max-width: 56.25em) {
    .home_svg--1 {
      height: 30rem;
      width: 30rem; } }

.section_about {
  padding: 3rem; }

.edu__container__heading {
  padding-left: 5rem; }

.edu__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .edu__card__container {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    gap: 7rem;
    flex-wrap: wrap; }
  .edu__card__degree {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 1.5rem; }
  .edu__card__session {
    font-size: 2rem;
    color: #777; }
  .edu__card__institute {
    font-size: 3rem;
    color: #777; }

.marks__icon__number {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem; }
  .marks__icon__number__small {
    font-size: 2rem; }

.marks__icon__circle__inner {
  position: relative;
  background-color: white;
  width: 15rem;
  height: 15rem;
  border-radius: 50%; }

.marks__icon__circle__outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75); }
  .marks__icon__circle__outer--1 {
    background: conic-gradient(#fdbb04 78%, white 0%); }
  .marks__icon__circle__outer--2 {
    background: conic-gradient(#fdbb04 83%, white 0%); }
  .marks__icon__circle__outer--3 {
    background: conic-gradient(#fdbb04 81%, white 0%); }

.section_skill {
  margin-top: 7rem;
  padding: 5rem; }
  @media screen and (max-width: 56.25em) {
    .section_skill {
      padding: 2rem;
      margin-top: 1rem; } }

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem; }
  .skill_content {
    width: 60%; }
    @media screen and (max-width: 56.25em) {
      .skill_content {
        width: auto; } }
    .skill_content_icon {
      height: 6rem;
      width: 6rem; }
    .skill_content_icons {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem; }
  .skill_text {
    font-size: 1.8rem;
    font-family: "Noto Sans JP";
    font-weight: 400; }
    @media screen and (max-width: 56.25em) {
      .skill_text {
        font-size: 1.5rem; } }

.section_hackathon {
  margin-top: 5rem;
  padding: 2rem 7rem 7rem 7rem; }
  @media screen and (max-width: 56.25em) {
    .section_hackathon {
      padding: 2rem 4rem 4rem 4rem; } }

.p_card {
  height: 45rem;
  width: 35rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.7)); }

.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  justify-content: center; }

.card__bottom {
  height: 11rem;
  margin-top: 29rem;
  padding: 1.2rem; }
  .card__bottom__heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: white; }
    .card__bottom__heading__light {
      color: #fdbb04; }
  .card__bottom__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
  .card__bottom__text {
    color: white;
    font-size: 1.6rem; }
  .card__bottom__btn {
    font-size: 2rem;
    cursor: pointer;
    text-transform: capitalize;
    background-color: rgba(44, 43, 43, 0.705);
    color: #fdbb04;
    outline: solid #fbfbfb 1.5px;
    border-radius: 4px;
    border: none;
    padding: 0.7rem 3rem;
    letter-spacing: 0.2rem; }
    .card__bottom__btn:hover {
      background-color: #fdbb04;
      content: "View";
      color: white; }

.card-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.9)), url("../img/farmBusiness.png");
  background-size: cover;
  transition: all 0.2s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .card-1:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2); }

.card-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.9)), url("../img/labourChowk.png");
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s; }
  .card-2:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2); }

.section_projects {
  padding: 5rem; }

.project__container {
  background-color: #f4f4f4;
  width: 80vw;
  margin: auto;
  margin-top: 7rem; }
  .project__container__nav {
    background-color: #fdbb04;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem 3rem; }
    .project__container__nav__btn {
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid white;
      background-color: rgba(225, 225, 225, 0.25);
      padding: 1rem 2rem;
      width: 15rem;
      font-size: 1.7rem;
      transition: all 0.3s; }
      @media screen and (max-width: 56.25em) {
        .project__container__nav__btn {
          width: 12rem;
          padding: 1rem 1rem; } }
      .project__container__nav__btn:hover {
        box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2); }
      .project__container__nav__btn--inactive {
        background-color: rgba(225, 225, 225, 0.8);
        cursor: not-allowed; }
  .project__container__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem; }
    @media screen and (max-width: 62.5em) {
      .project__container__cards {
        padding: 5rem; } }
    @media screen and (max-width: 39.5em) {
      .project__container__cards {
        padding: 2rem; } }

.p__card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 90vw;
  height: fit-content;
  margin: 1rem auto;
  background-color: #fff;
  border-bottom-right-radius: 0.25em;
  box-shadow: 0 4px 8px 1px #00000025;
  overflow: hidden; }

.card-meta {
  position: relative;
  overflow: hidden; }

.card-meta-img {
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1651421361361-802be1ab3b2b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTM2NzE1NDA&ixlib=rb-1.2.1&q=80);
  background-size: cover;
  background-position: center; }

.card-meta-detail {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0.25em;
  padding: 0.25em;
  background-color: #00000080;
  color: #fff;
  font-size: 2rem;
  border-radius: 0.25em;
  opacity: 1; }

.card-description {
  flex-basis: 100%;
  padding: 1.5rem 1rem 1.5rem 3rem;
  overflow: hidden;
  transition: 0.4s ease; }

.card-description::before {
  content: "";
  display: none;
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 25%;
  background-color: #fff;
  z-index: 0;
  transform: skewX(-3deg);
  transition: left 0.4s ease; }

.card-description-subtitle {
  font-size: 2rem;
  display: inline-block;
  position: relative;
  margin-bottom: 0.25em;
  color: #a2a2a2; }

.card-description-subtitle::after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 2rem;
  height: 0.25em;
  background-color: #fdbb04;
  border-radius: 0.5em;
  transition: animation 0.8s; }

.p__card:hover .card-description-subtitle::after {
  animation: cardSubtitleAfter 0.8s forwards; }

@keyframes cardSubtitleAfter {
  0% {
    right: 100%;
    width: 100%; }
  50% {
    right: 0;
    width: 2em; }
  100% {
    right: 100%;
    width: 2em; } }

.card-description .read-more {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;
  background-color: #fdbb04;
  color: #fff;
  border-top-left-radius: 0.25em;
  font-size: 2rem;
  transition: background-color 0.4s; }

.card-description .read-more:hover {
  background-color: #8c8cf0; }

.card-description-title {
  font-size: 3rem; }

.card-description-content {
  font-size: 2rem;
  margin: 0.75em 0; }

@media screen and (min-width: 56.25em) {
  .p__card {
    flex-direction: row; }
  .card-meta {
    height: auto;
    flex-basis: 40%;
    transition: flex-basis 0.4s ease; }
  .card-description::before {
    display: none; }
  .card-meta-detail {
    direction: ltr; } }

.project__details__list {
  font-size: 2rem;
  padding: 1.5rem; }

.platform {
  padding: 5rem;
  padding-bottom: 10rem;
  margin-top: 15rem; }
  .platform_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem; }
    .platform_container_card {
      display: flex;
      flex-direction: column; }

.footer {
  padding: 3rem;
  background-color: #354a7b;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem; }

.social_media {
  display: flex;
  gap: 5rem; }
  .social_media_link {
    color: #fbfbfb; }
  @media screen and (max-width: 39.5em) {
    .social_media {
      gap: 3rem; } }

.icon {
  transition: all 0.2s;
  height: 4rem; }
  @media screen and (max-width: 39.5em) {
    .icon {
      height: 3rem; } }
  .icon:hover {
    color: #fdbb04;
    transform: translateY(-0.15rem);
    transform: scale(1.2); }

.copyright {
  font-size: 1.7rem;
  font-family: "lato";
  font-style: italic; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fbfbfb;
  height: 5rem;
  width: 5rem;
  align-items: center;
  position: fixed;
  top: 48rem;
  right: 3.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer; }

@media screen and (max-width: 56.25em) {
  .navigation__button {
    font-size: 50%;
    right: 2.5rem; } }

.night_mode_icon {
  height: 5rem;
  width: 5rem; }
